.electronic_img_api {
  width: 210px;
  height: 210px;
}

.electronic_container {
  display: flex;
  max-width: 210px;
  gap: 20px;
  margin-right: 22px;
  text-align: center;
  margin-top: 50px;
  background: transparent;
  height: auto;
}
