.deals_container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;
  gap: 18px;
  //   margin-top: 10px;
  background: transparent;
  margin-top: 46px;

  h3 {
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
  h4 {
    font-family: ABeeZee;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.02px;
    text-align: left;
  }
}

.deals_img_1 {
  width: 90px;
  height: 40px;
  gap: 0px;
}
.deals_img {
  width: 480px;
  gap: 0px;
}

.deals_button {
  padding: 12px 21px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "ABeeZee", sans-serif;
  border: 1px solid #000000;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;

  text-align: center;
}

.deals_link {
  text-decoration: none;
}
.deals_img_box {
  margin-left: 0;
  background: #0a9294;

  .deals_img_2 {
    width: 300px;
    height: 250px;
    margin: 0;
  }
}
.deals_img_container {
  max-width: 400px;
  width: 100%;
}
